.root {
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-background-color: white;
}

.menu-bar {
	-fx-background-color: rgb(255,248,241);
	-fx-border-color: rgb(255,165,77);
	-fx-border-width: 0 0 4px 0;
	-fx-font-size: 20px;
    -fx-border-insets: 0 0 40px 0;
    -fx-background-insets: 0 0 40px 0;
}

.menu:showing, .menu:hover {
	-fx-background-color: rgb(243,237,231);
}

.menu-item:showing, .menu-item:hover {
	-fx-background-color: rgb(255,165,77);
}

.pixel-region {
	-fx-max-height: 150px;
	-fx-min-height: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-border-color: black;
	-fx-border-width: 1px;
}

.vertical-box {
	-fx-padding: 40px;
    -fx-border-insets: 40px;
    -fx-background-insets: 40px;
}

.change-pixel-button {
	-fx-min-width: 150px;
}